.question-circle {
    /* border: 2px solid red; */
    /* border-width: 1px; */
    border-radius: 1.5rem;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 0.4rem;
    /* height: fit-content; */
    /* width: fit-content; */
    /* padding-left: 0.92rem; */
    padding-top: 0.5rem; 
    margin-bottom: 0.4rem;
    text-align: center;
}