.createNew{
   font-family: 'poppins'; 
   font-size: 31px; 
   letter-spacing: 1.2px;
   text-align: center;
   margin-right: 27rem;
   color: #666865;
   font-weight: 1000;
   /* background-color: #d0cacab7; */
 }
.text-black{
   padding-left: 36%;
   /* border: 2px solid black; */
} 
.form-of-create-new-quiz {
   margin-top: 0.35rem;
}
.form-control{
   margin-top: 1.1rem;
   /* border: 2px solid black; */
}  
.form-control label{
   font-family: 'poppins';
   font-size: 19px;
   letter-spacing: 1px;
}
.input-box{
   border: 0.581px solid #C1BBBB; 
   border-radius: 5px;  
   width: 20rem;
   height: 3rem;
   letter-spacing: 0.1px;
   padding-left: 3.6%;
}  
.input-box:hover{
   color: rgb(66, 133, 244) !important;
   border-color: rgb(66, 133, 244);
}
#quiz-level {
   /* border: 2px solid black; */
   margin-top: 1.8rem;
   margin-left: 0.1rem;
}
#quiz-level option{
   margin-right: 5%;
   font-family: 'poppins';
   font-size: 16.5px;
}
#level {
   color: #27ae60;
   font-weight: 750;
}
.submit-button{
 background:rgb(66, 133, 244);  
 color: white; 
 margin-top: 3rem; 
 margin-left: 1.9rem;
 font-size: 18px; 
 font-family: serif; 
 height: 2.5rem; 
 width: 6.5rem; 
 border-radius: 5px; 
 cursor: pointer;
}  
.submit-button:hover {
   border: 2px solid rgb(66, 133, 244);
   background-color: #fff;
   color: rgb(66, 133, 244);
}
.cancel-button{
   border: 2px solid rgb(66, 133, 244); 
   margin-top: 2rem; 
   color: rgb(66, 133, 244); 
   margin-left: 5rem; 
   font-size: 18px; 
   font-family: serif; 
   height: 2.5rem;  
   width: 6.5rem; 
   border-radius: 5px;
}
.cancel-button:hover {
   border: 2px solid rgb(66, 133, 244);
   background-color: rgb(66, 133, 244);
   color: #fff;
}