.card-body{
    /* border: 1px solid black;   */
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(202 138 4 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(254 252 232 / var(--tw-bg-opacity));
    padding: 1.25rem;
    border-radius: 0.5rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /* width: 20rem; */

    margin-bottom: 2rem;
    /* border-radius: 10px;    */
}  
/* .Quizs-container{ 
    margin: 5px 5px 5px 5px; 
} */
.card-text{
    font-family: serif;  
    font-size: large;
} 
.updating-btn{ 
    margin-top: 2rem;
    border: 1px solid black;  
    margin-left: 0.5rem; 
    border-radius: 4px; 
    width: 6rem;
} 