.quiz_result {
    overflow-y: hidden;
}
.quiz-result-heading {
    text-align: center;
    margin-top: 0.8%;
    font-size: 26px;
    font-weight: 600;
}
.result-details {
    /* border: 2px solid black; */
    margin-left: 37%;
    margin-top: 1%;
    margin-bottom: -3%;
    text-align: center;
    width: 25%;
}
.result-details h2 {
    padding-bottom: 1%;
}
.feedbakc-message {
    font-size: 20px;
    margin-top: 3%;
}