* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
body {
    background: #FFF;
}
.main {
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-evenly;
}


/************ Media Query ***********/
@media screen and (max-width: 1600px) and (min-width: 1275px) {
    .main {
        display: flex;
        justify-content: space-evenly;
    }

    .right-img {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .right-img img {
        width: 12rem;
        height: 10rem;
        flex-wrap: wrap;
    }
    .Left-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 2%;
        /* border: 2px solid black; */
    }
    #log1 {
        /* margin-top: -10%; */
        cursor: pointer;
        width: 80%;
    }
    .form-details {
        margin-right: 5rem;
        /* border: 2px solid black; */
        width: 80%;
    }
    input{
        width: 18rem;
        height: 2.5rem;
        /* border: 2px solid black; */
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        background: #FFF;
        flex-wrap: wrap;
        padding-left: 16px;
    }
    .btns {
        /* border: 2px solid black; */
        width: 50%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 1.5rem;
        /* height: 15%; */
        /* margin-top: -9%; */
    }
    .btns button {
        width: 3.5rem;
        height: 2rem;
        margin-top: 3.5rem;
        margin-right: 2.5rem;
        margin-left: 5%;
        border: none;
        border: 0.581px solid #FCC822;
        background: #FFF;
        transition: 0.2s;
        color: #FCC822;
        font-size: 1rem;
        box-shadow: 0px 10.45024px 23.22276px -8.96683px #FBE18F;
    }
    #forget {
        font-size: 0.9rem;
    }  
}


@media screen and (max-width: 1275px) and (min-width: 992px) {
    .main {
        display: flex;
        justify-content: space-evenly;
    }

    .right-img {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .right-img img {
        width: 8rem;
        height: 8rem;
        flex-wrap: wrap;
    }
    .Left-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid black; */
        padding-left: 5%;
    }
    #log1 {
        /* margin-top: -10%; */
        cursor: pointer;
        width: 80%;
    }
    .form-details {
        margin-right: 5rem;
        /* border: 2px solid black; */
        width: 50%;
    }
    input{
        width: 18rem;
        height: 2.5rem;
        /* border: 2px solid black; */
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        background: #FFF;
        flex-wrap: wrap;
        padding-left: 16px;
    }
    .btns {
        /* border: 2px solid black; */
        width: 35%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 1.5rem;
        /* height: 15%; */
        margin-top: -10%;
    }
    .btns button {
        width: 3.5rem;
        height: 2rem;
        margin-top: 3.5rem;
        margin-right: 2.5rem;
        margin-left: 5%;
        border: none;
        border: 0.581px solid #FCC822;
        background: #FFF;
        transition: 0.2s;
        color: #FCC822;
        font-size: 1rem;
        box-shadow: 0px 10.45024px 23.22276px -8.96683px #FBE18F;
    }
    #forget {
        font-size: 0.9rem;
    }  
}

@media screen and (max-width: 992px) and (min-width: 723px)  {
    .main {
        display: flex;
        max-height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Hide the right-img div */
    .right-img {
        display: none !important;
    }

    .Left-content {
        width: 100% !important;
        height: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid black; */
        /* padding-left: 5%; */
        overflow: hidden;
    }

    /* Adjust other styles for responsiveness within this media query */
    #log1 {
        cursor: pointer;
        width: 60%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap;
        margin-left: 18%;
    }
    #head {
        margin-left: -18% !important;
    }
    /* Adjust other styles for responsiveness within this media query */
    .form-details {
        margin-top: -3%;
        margin-right: 5rem;
        /* border: 2px solid black; */
        flex-wrap: wrap !important;
        /* width: 20%; */
    }

    /* Adjust other styles for responsiveness within this media query */
    input {
        width: 22rem !important;
        height: 3rem !important;
        margin-top: 1.5rem !important;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        background: #FFF;
        flex-wrap: wrap;
    }
    .password-toggle {
        margin-top: 1rem !important;
        padding-right: 0.5rem;
    }

    /* Adjust other styles for responsiveness within this media query */
    .btns {
        width: 25%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        /* padding-bottom: 1.5rem; */
        margin-top: -10%;
    }

    /* Adjust other styles for responsiveness within this media query */
    .btns button {
        width: 5.5rem;
        height: 1.5rem;
        margin-top: 2.5rem;
        margin-right: 2.5rem;
        margin-left: 5%;
        border: none;
        border: 0.581px solid #FCC822;
        background: #FFF;
        transition: 0.2s;
        color: #FCC822;
        font-size: 0.7rem;
        box-shadow: 0px 10.45024px 23.22276px -8.96683px #FBE18F;
    }

    /* Adjust other styles for responsiveness within this media query */
    #forget {
        font-size: 0.7rem;
        margin-right: 1%;
        margin-top: -1%;
    }

    /* Adjust other styles for responsiveness within this media query */
    .another-Login {
        margin-top: -2%;
    }
}

/********* Media Query for Phone *********/
@media screen and (max-width: 723px) and (min-width: 640px)  {
    .main {
        display: flex;
        max-height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Hide the right-img div */
    .right-img {
        display: none !important;
    }

    .Left-content {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        overflow: hidden;
    }

    /* Adjust other styles for responsiveness within this media query */
    #log1 {
        cursor: pointer;
        width: 55% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        margin-left: 18%;
    }
    #head {
        padding-left: 16% !important;
        font-size: 14px !important;
    }
    /* Adjust other styles for responsiveness within this media query */
    .form-details {
        margin-top: -4% !important;
        margin-right: 5rem;
        flex-wrap: wrap !important;
    }

    .input-same {
        font-size: 16px !important;
    }

    /* Adjust other styles for responsiveness within this media query */
    input {
        width: 21rem !important;
        height: 2.7rem !important;
        /* margin-top: -1% !important; */
        flex-shrink: 0;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        justify-content: space-around !important; 
        background: #FFF;
        flex-wrap: wrap !important;
    }
    .password-toggle {
        margin-top: 1.5rem !important;
        padding-right: 0.8rem;
    }

    /* Adjust other styles for responsiveness within this media query */
    .btns {
        width: 70vh !important;
        height: 32% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        /* border: 2px solid black; */
        overflow: hidden;
    }

    /* Adjust other styles for responsiveness within this media query */
    .btns button {
        width: 5.5rem;
        height: 1.5rem;
        /* margin-top: 2.5rem; */
        margin-right: 2.5rem;
        margin-left: 5%;
        border: none;
        border: 0.581px solid #FCC822;
        background: #FFF;
        transition: 0.2s;
        color: #FCC822;
        font-size: 1.2rem !important;
        box-shadow: 0px 10.45024px 23.22276px -8.96683px #FBE18F;
    }

    /* Adjust other styles for responsiveness within this media query */
    #forget {
        font-size: 15px;
        margin-right: 8%;
        margin-top: 2.5%;
    }

    /* Adjust other styles for responsiveness within this media query */
    .another-Login {
        flex-wrap: wrap !important;
        margin-top: 5%;
        font-size: 16px !important;
        padding-left: 15% !important;
    }
}


@media screen and (max-width: 640px) {
    .main {
        display: flex;
        max-height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Hide the right-img div */
    .right-img {
        display: none !important;
    }

    .Left-content {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        border: 2px solid black;
        /* padding-left: 5%; */
        overflow: hidden;
    }

    /* Adjust other styles for responsiveness within this media query */
    #log1 {
        cursor: pointer;
        width: 50% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        margin-left: 28% !important;
    }
    #head {
        text-align: center !important;
        padding-left: 30% !important;
        line-height: 1.4rem !important;
        font-size: 13px !important;
    }
    /* Adjust other styles for responsiveness within this media query */
    .form-details {
        margin-top: -3%;
        margin-right: 5rem;
        flex-wrap: wrap !important;
    }

    .input-same {
        font-size: 14px !important;
    }

    /* Adjust other styles for responsiveness within this media query */
    input {
        width: 20rem !important;
        height: 2.6rem !important;
        margin-top: 2.5rem !important;
        margin-left: 4% !important;
        flex-shrink: 0;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        justify-content: space-around !important;
        background: #FFF;
        flex-wrap: wrap !important;
    }
    .password-toggle {
        margin-top: 1.5rem !important;
        padding-right: 1.2rem;
    }

    /* Adjust other styles for responsiveness within this media query */
    .btns {
        width: 50vh !important;
        height: 28% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        /* border: 2px solid black; */
        overflow: hidden;
        margin-top: 6%;
    }

    /* Adjust other styles for responsiveness within this media query */
    .btns button {
        width: 5rem !important;
        height: 2.5rem !important;
        /* margin-top: 2.5rem; */
        margin-right: 2.5rem;
        margin-left: 5%;
        border: none;
        border: 0.581px solid #FCC822;
        background: #FFF;
        transition: 0.2s;
        color: #FCC822;
        font-size: 0.9rem !important;
        box-shadow: 0px 10.45024px 23.22276px -8.96683px #FBE18F;
    }

    /* Adjust other styles for responsiveness within this media query */
    #forget {
        font-size: 12px !important;
        margin-right: 8%;
        margin-top: 2.5%;
    }

    /* Adjust other styles for responsiveness within this media query */
    .another-Login {
        flex-wrap: wrap !important;
        margin-top: 12% !important;
        font-size: 13px !important;
        padding-left: 35% !important;
    }
}




.Left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Left-content nav {
    /* margin-top: -14%; */
    margin-left: -5.15rem;
    cursor: pointer;
}
.form-details {
    margin-top: 1rem;
    margin-right: 5rem;
    width: 100%;
}

/************ Input CSS ***********/
input{
    width: 26rem;
    height: 3.8rem;
    flex-shrink: 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 0.581px solid #C1BBBB;
    background: #FFF;
    /* margin: 0 2.96rem 0 -5rem; */
    flex-wrap: wrap;
    padding-left: 16px;
    margin-top: 2.72rem;
}
input:hover {
    border: 2px solid #FCC822;
    transition: 0.2s;
}

/************ Hide/show Button CSS ***********/
.password-input {
  position: relative;
  /* border:  2px solid black; */
}

.password-toggle {
  position: absolute;
  margin-top: 5%;
  margin-right: 16%;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Style for Font Awesome icons (adjust as needed) */
.password-toggle i {
  color: #007bff; /* Change color as needed */
}
.password-toggle i:hover {
  color: #FCC822;
  transition: 0.2s;
}

/* forget password css */
.form-details {
    /* margin-top: 5rem; */
    color: rgba(0, 0, 0, 0.61);
}

.forget-pass {
    /* border: 2px solid black; */
    display: flex;
    justify-content: right;
    margin-right: 16%;
    padding-top: 4%;
    color: rgba(0, 0, 0, 0.014);
}
.forget-pass a:hover {
    color: #FCC822;
    transition: 0.2s;
}

.btns {
    /* border: 2px solid black; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    padding-bottom: 3rem;
    /* height: 25%; */
}
.btns button {
    width: 4.46313rem;
    height: 2.32225rem;
    margin-top: 4rem;
    margin-right: 2.5rem;
    margin-left: 5%;
    border: none;
    /* box-shadow: 0px 10.45024px 23.22276px -6.96683px #FBE18F; */
    border: 0.581px solid #FCC822;
    background: #FFF;
    transition: 0.2s;
    color: #FCC822;
    font-size: 1rem;
    box-shadow: 0px 10.45024px 23.22276px -8.96683px #FBE18F;
}
button:hover {
    background: linear-gradient(95deg, #FCC822 0%, #FFCD2E 100%);
    transition: 0.2s;
    /* box-shadow: 0px 10.45024px 23.22276px -6.96683px #FBE18F; */
    box-shadow: 0 0 30px #FCC822;
    color: #FFF;
}
button::before {
    transition: opacity 0.3s, border 0.3s
}



#head {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Roboto;
    font-size: 0.90194rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -10rem;
    margin-top: 2.36rem;
}


.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle.visible {
  color: #007bff; /* Change color as needed */
}

.another-Login {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: -40%;  
    font-size: 0.8rem; 
    font-style: normal;
font-weight: 400;
}
.another-Login p {
    padding-right: 25px;
}
.same-lo {
    color: #FCC822;
    font-weight: 700;
    cursor: pointer;
}

/************ Right Side CSS ***********/
.right-img {
    /* background-color: #c0c0c0 | rgb(192,192,192); */
    /* border: 2px solid black; */
    background-color: 	#f5f2f286;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.right-img img {
    width: 17.88881rem;
    height: 14.47794rem;
}