.Main-quiz {
  /* margin-top: -40.5%; */
  /* width: auto; */
  /* height: 84vh; */
  /* border: 2px solid black; */
}
.tag-line {
  /* border: 2px solid green; */
  width: 33%;
  justify-content: center;
  margin-left: 33.8%;
  margin-top: 3.5%;
  text-align: center;
}
.tag-line h2 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.6);
}
.tag-line h3 {
  font-weight: 700;
  color: #fcc822;
}
.quiz-message {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  margin-top: 5.4%;
  margin-left: 0.5%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.quiz-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  /* border: 2px solid black; */
  /* width: 94%; */
}
.quiz-box {
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: flex;
  /* margin-top: 50px; */
}
