
.AdminPage{
    height: "full";
}  
.Admin-manu{
  height: 50rem; 
  width: 12rem;
  background-color: #DBDADA;
} 
.admin-box{
  display: flex;  
  margin-top: 1.5rem; 
  margin-left: 1rem;
  
} 
.admin-box p{
  margin-left: 0.5rem; 
  font-size: 18px; 
  font-family: serif;
} 

.line2{ 

  border-bottom: 2px solid black;
}
